---
import AFKTimeTable from '@/components/AFKTimeTable.astro'
import AFKTimeTableMobile from '@/components/AFKTimeTableMobile.astro'
import SectionHeader from '@/components/SectionHeader.astro'
---

<section>
  <SectionHeader title="AFK Time calculator" image="clock" />
  <AFKTimeTable />
  <AFKTimeTableMobile />
</section>
